.auth-header {
    display: flex;
    justify-content: center;
    padding: 100px 0 70px;
    box-shadow: none; 
    margin-bottom: 0;
    background-color: transparent;
}

.auth-header img {
    width: 230px;
    height: auto;
}

.auth-container {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.auth-box {
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-letter{
    width: fit-content;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 24px;
}

#login-form, #signup-form {
    width: 100%;
    background-color: #fff;
    padding: 35px;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    position: relative;
    top: -1px; 
    z-index: 5;
}

.input-group {
    margin-bottom: 6px;
}

.input-group input {
    width: 100%;
    padding: 20px;
    border: 1px solid #C4C4C4;
    border-radius: 10px; 
    border-bottom-width: 1px;
    outline: none;
    font-size: 16px;
}

body.login-page .input-group:first-child input {
    border-radius: 5px 5px 0 0;
    border-bottom: none;
}
body.login-page .input-group:nth-child(2) input {
    border-radius: 0 0 5px 5px;
}

.signup-input-wrap {
    margin-bottom: 12px;
}

.signup-input-wrap label {
    display: block;
    color: var(--color-sub-text);
    margin-bottom: 10px;
    font-size: 16px; 
}

.signup-input-wrap input {
    width: 100%;
    padding: 16px; 
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}

.input-with-btn {
    display: flex;
    gap: 12px;
}

.input-with-btn input {
    flex: 1;
}

.btn-check {
    width: 122px;
    background-color: var(--color-primary);
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
}

.input-with-icon {
    position: relative;
}

.input-with-icon input {
    background-image: url('../assets/icon-check-off.svg'); 
    background-repeat: no-repeat;
    background-position: right 16px center;
    background-size: 28px;
}

.input-with-icon.valid input {
    background-image: url('../assets/icon-check-on.svg');
}

.btn-submit {
    width: 100%;
    padding: 19px 0;
    background-color: var(--color-primary);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    margin-top: 30px;
}
.btn-submit:disabled {
    background-color: #C4C4C4;
    cursor: default;
}

.error-msg {
    color: #EB5757;
    font-size: 14px;
    margin-top: 6px;
    display: none; 
}

#login-fail-msg {
    color: #EB5757;
}

.auth-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin-top: 30px;
    color: var(--color-main-text);
}