/* css/detail.css */

.detail-container {
    padding: 80px 0;
    display: flex;
    gap: 50px;
    align-items: flex-start;
}

.detail-img {
    width: 600px;
    height: 600px;
    background-color: #fff;
    border: 1px solid #c4c4c4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail-img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.detail-info {
    flex: 1;
}

.detail-seller {
    font-size: 18px;
    color: var(--color-sub-text);
    margin-bottom: 16px;
}

.detail-name {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 20px;
}

.detail-price {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 130px; /* Space for aesthetic */
}

.detail-price span {
    font-size: 18px;
    font-weight: 400;
}

.delivery-info {
    font-size: 16px;
    color: var(--color-sub-text);
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #C4C4C4;
}

.quantity-control {
    display: flex;
    margin: 30px 0;
    height: 50px;
    border: 1px solid #C4C4C4;
    width: 150px;
    border-radius: 5px;
    overflow: hidden;
}

.quantity-control button {
    width: 50px;
    font-size: 20px;
    background-color: #F2F2F2;
    cursor: pointer;
}

.quantity-control button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.quantity-control input {
    width: 50px;
    text-align: center;
    border-left: 1px solid #C4C4C4;
    border-right: 1px solid #C4C4C4;
    font-size: 18px;
}

.total-price-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    border-top: 2px solid #C4C4C4;
    margin-bottom: 30px;
}

.total-price-area p {
    font-size: 18px;
    font-weight: 500;
}

.total-price-val {
    color: var(--color-primary);
    font-size: 36px;
    font-weight: 700;
}

.total-price-val span {
    font-size: 18px;
    font-weight: 400;
    color: var(--color-primary);
}

.action-buttons {
    display: flex;
    gap: 14px;
}

.btn-buy, .btn-cart {
    flex: 1;
    height: 60px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
}

.btn-buy {
    background-color: var(--color-primary);
    color: #fff;
    flex: 2;
}

.btn-cart {
    background-color: #767676;
    color: #fff;
    flex: 1;
}
